In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/jackiekazil/data-wrangling/master/data/chp3/data-text.csv')

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4656 entries, 0 to 4655
Data columns (total 12 columns):
Indicator_ID               4656 non-null object
Publication Status         4656 non-null object
Year                       4656 non-null int64
WHO Region                 4656 non-null object
World Bank income group    4656 non-null object
Country                    4656 non-null object
Sex                        4656 non-null object
Display Value              4656 non-null int64
Numeric                    4656 non-null float64
Low                        0 non-null float64
High                       0 non-null float64
Comments                   0 non-null float64
dtypes: float64(4), int64(2), object(6)
memory usage: 436.6+ KB

In [5]:
df.head(2)

,Indicator,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN

In [6]:
df1 = pd.read_csv('https://raw.githubusercontent.com/kjam/data-wrangling-pycon/master/data/berlin_weather_oldest.csv')

In [46]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117208 entries, 0 to 117207
Data columns (total 21 columns):
STATION         117208 non-null object
STATION_NAME    117208 non-null object
DATE            117208 non-null int64
PRCP            117208 non-null int64
SNWD            117208 non-null int64
SNOW            117208 non-null int64
TMAX            117208 non-null int64
TMIN            117208 non-null int64
WDFG            117208 non-null int64
PGTM            117208 non-null int64
WSFG            117208 non-null int64
WT09            117208 non-null int64
WT07            117208 non-null int64
WT01            117208 non-null int64
WT06            117208 non-null int64
WT05            117208 non-null int64
WT04            117208 non-null int64
WT16            117208 non-null int64
WT08            117208 non-null int64
WT18            117208 non-null int64
WT03            117208 non-null int64
dtypes: int64(19), object(2)
memory usage: 18.8+ MB

In [51]:
array = df.index.values
array1 = df1.index.values
print(array)
print(array1)

[   0    1    2 ... 4653 4654 4655]
[     0      1      2 ... 117205 117206 117207]

In [7]:
df1.head(2)

,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
0,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310101,46,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310102,107,-9999,-9999,50,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [8]:
df = df.rename(columns = {'Indicator':'Indicator_ID'})

In [9]:
df

,Indicator_ID,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN
5,Life expectancy at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Male,72,72.0,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17.0,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22.0,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81.0,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80.0,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83.0,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
12,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Austria,Female,25,25.0,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83.0,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73.0,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74.0,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17.0,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72.0,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21.0,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71.0,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25.0,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23.0,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20.0,NaN,NaN,NaN
23,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Brunei Darussalam,Female,22,22.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82.0,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21.0,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24.0,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74.0,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67.0,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66.0,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72.0,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47.0,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61.0,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64.0,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44.0,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59.0,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65.0,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56.0,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60.0,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61.0,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64.0,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61.0,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63.0,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57.0,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40.0,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60.0,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65.0,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70.0,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68.0,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61.0,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66.0,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59.0,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62.0,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66.0,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54.0,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49.0,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [10]:
df.replace({'Indicator': 'Indicator_ID'}, inplace=True)

In [11]:
df

,Indicator_ID,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN
5,Life expectancy at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Male,72,72.0,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17.0,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22.0,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81.0,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80.0,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83.0,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
12,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Austria,Female,25,25.0,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83.0,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73.0,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74.0,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17.0,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72.0,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21.0,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71.0,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25.0,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23.0,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20.0,NaN,NaN,NaN
23,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Brunei Darussalam,Female,22,22.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82.0,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21.0,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24.0,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74.0,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67.0,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66.0,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72.0,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47.0,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61.0,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64.0,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44.0,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59.0,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65.0,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56.0,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60.0,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61.0,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64.0,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61.0,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63.0,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57.0,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40.0,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60.0,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65.0,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70.0,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68.0,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61.0,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66.0,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59.0,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62.0,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66.0,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54.0,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49.0,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [12]:
df = df.rename(columns={'PUBLISH STATES': 'Publication Status', 'WHO region': 'WHO Region'})

In [13]:
df

,Indicator_ID,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN
5,Life expectancy at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Male,72,72.0,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17.0,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22.0,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81.0,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80.0,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83.0,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
12,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Austria,Female,25,25.0,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83.0,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73.0,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74.0,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17.0,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72.0,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21.0,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71.0,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25.0,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23.0,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20.0,NaN,NaN,NaN
23,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Brunei Darussalam,Female,22,22.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82.0,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21.0,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24.0,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74.0,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67.0,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66.0,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72.0,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47.0,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61.0,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64.0,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44.0,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59.0,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65.0,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56.0,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60.0,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61.0,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64.0,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61.0,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63.0,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57.0,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40.0,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60.0,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65.0,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70.0,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68.0,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61.0,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66.0,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59.0,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62.0,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66.0,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54.0,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49.0,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [14]:
df.sort_values(by='Year')

,Indicator_ID,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1270,Life expectancy at birth (years),Published,1990,Europe,High-income,Germany,Male,72,72.0,NaN,NaN,NaN
3193,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,65,65.0,NaN,NaN,NaN
3194,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,68,68.0,NaN,NaN,NaN
3197,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,15,15.0,NaN,NaN,NaN
1264,Life expectancy at birth (years),Published,1990,Europe,High-income,Cyprus,Both sexes,76,76.0,NaN,NaN,NaN
3199,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,17,17.0,NaN,NaN,NaN
1262,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,17,17.0,NaN,NaN,NaN
1259,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,67,67.0,NaN,NaN,NaN
3203,Life expectancy at age 60 (years),Published,1990,South-East Asia,Lower-middle-income,Maldives,Female,12,12.0,NaN,NaN,NaN
1273,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Denmark,Both sexes,20,20.0,NaN,NaN,NaN
3204,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Marshall Islands,Female,65,65.0,NaN,NaN,NaN
1253,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Both sexes,73,73.0,NaN,NaN,NaN
1247,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Bahamas,Male,17,17.0,NaN,NaN,NaN
3219,Life expectancy at age 60 (years),Published,1990,Western Pacific,Lower-middle-income,Vanuatu,Both sexes,16,16.0,NaN,NaN,NaN
3226,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Bulgaria,Both sexes,71,71.0,NaN,NaN,NaN
1240,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Belgium,Female,23,23.0,NaN,NaN,NaN
1239,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Both sexes,76,76.0,NaN,NaN,NaN
1238,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Female,79,79.0,NaN,NaN,NaN
1237,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Both sexes,76,76.0,NaN,NaN,NaN
1236,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Male,72,72.0,NaN,NaN,NaN
3207,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Mongolia,Female,64,64.0,NaN,NaN,NaN
3231,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Belarus,Female,76,76.0,NaN,NaN,NaN
3188,Life expectancy at age 60 (years),Published,1990,Africa,Lower-middle-income,Lesotho,Female,17,17.0,NaN,NaN,NaN
1277,Life expectancy at birth (years),Published,1990,Europe,High-income,Estonia,Both sexes,70,70.0,NaN,NaN,NaN
1302,Life expectancy at birth (years),Published,1990,Europe,High-income,Hungary,Male,65,65.0,NaN,NaN,NaN
3158,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Georgia,Male,67,67.0,NaN,NaN,NaN
1300,Life expectancy at birth (years),Published,1990,Europe,High-income,Croatia,Male,69,69.0,NaN,NaN,NaN
3159,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Georgia,Both sexes,19,19.0,NaN,NaN,NaN
3160,Life expectancy at age 60 (years),Published,1990,Americas,Lower-middle-income,Guatemala,Female,19,19.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3175,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,19,19.0,NaN,NaN,NaN
3174,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Female,76,76.0,NaN,NaN,NaN
1285,Life expectancy at birth (years),Published,2012,Europe,High-income,France,Both sexes,82,82.0,NaN,NaN,NaN
1286,Life expectancy at age 60 (years),Published,2012,Europe,High-income,France,Both sexes,25,25.0,NaN,NaN,NaN
3171,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,72,72.0,NaN,NaN,NaN
1288,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Female,25,25.0,NaN,NaN,NaN
1290,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Both sexes,24,24.0,NaN,NaN,NaN
1292,Life expectancy at birth (years),Published,2012,Africa,High-income,Equatorial Guinea,Female,57,57.0,NaN,NaN,NaN
3166,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Honduras,Male,21,21.0,NaN,NaN,NaN
3165,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Honduras,Both sexes,74,74.0,NaN,NaN,NaN
3163,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Guyana,Male,13,13.0,NaN,NaN,NaN
3162,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Guyana,Female,67,67.0,NaN,NaN,NaN
1301,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Croatia,Both sexes,21,21.0,NaN,NaN,NaN
3137,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cameroon,Male,55,55.0,NaN,NaN,NaN
1303,Life expectancy at birth (years),Published,2012,Europe,High-income,Hungary,Both sexes,75,75.0,NaN,NaN,NaN
3155,Life expectancy at birth (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,68,68.0,NaN,NaN,NaN
3154,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Egypt,Male,16,16.0,NaN,NaN,NaN
1304,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Hungary,Both sexes,20,20.0,NaN,NaN,NaN
1306,Life expectancy at birth (years),Published,2012,Europe,High-income,Ireland,Female,83,83.0,NaN,NaN,NaN
3150,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Ecuador,Male,21,21.0,NaN,NaN,NaN
3148,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Ecuador,Female,78,78.0,NaN,NaN,NaN
3147,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,17,17.0,NaN,NaN,NaN
3146,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Both sexes,61,61.0,NaN,NaN,NaN
3145,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,63,63.0,NaN,NaN,NaN
1309,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Ireland,Female,25,25.0,NaN,NaN,NaN
1316,Life expectancy at birth (years),Published,2012,Europe,High-income,Italy,Both sexes,83,83.0,NaN,NaN,NaN
3141,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cabo Verde,Both sexes,74,74.0,NaN,NaN,NaN
3139,Life expectancy at age 60 (years),Published,2012,Africa,Lower-middle-income,Cameroon,Female,17,17.0,NaN,NaN,NaN
3156,Life expectancy at age 60 (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,16,16.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [54]:
array_region = df["WHO Region"].values
array_region

array(['Europe', 'Europe', 'Europe', ..., 'Africa', 'Africa', 'Africa'],
      dtype=object)

In [16]:
cols = df.columns.tolist()

In [17]:
cols

['Indicator_ID',
 'Publication Status',
 'Year',
 'WHO Region',
 'World Bank income group',
 'Country',
 'Sex',
 'Display Value',
 'Numeric',
 'Low',
 'High',
 'Comments']

In [18]:
df = df[['Country', 'Indicator_ID', 'PUBLISH STATUS', 'Year', 'WHO Region', 'World Bank income group', 'Sex', 'Display Value', 'Numeric', 'Low', 'High', 'Comments']]

KeyError: "['PUBLISH STATUS'] not in index"

In [19]:
df

,Indicator_ID,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN
5,Life expectancy at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Male,72,72.0,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17.0,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22.0,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81.0,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80.0,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83.0,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
12,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Austria,Female,25,25.0,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83.0,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73.0,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74.0,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17.0,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72.0,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21.0,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71.0,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25.0,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23.0,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20.0,NaN,NaN,NaN
23,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Brunei Darussalam,Female,22,22.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82.0,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21.0,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24.0,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74.0,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67.0,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66.0,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72.0,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47.0,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61.0,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64.0,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44.0,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59.0,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65.0,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56.0,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60.0,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61.0,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64.0,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61.0,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63.0,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57.0,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40.0,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60.0,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65.0,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70.0,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68.0,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61.0,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66.0,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59.0,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62.0,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66.0,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54.0,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49.0,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [20]:
type(df)

pandas.core.frame.DataFrame

In [21]:
print(df.iloc[[11, 24, 37], :])

                         Indicator_ID Publication Status  Year  \
11   Life expectancy at birth (years)          Published  2012
24  Life expectancy at age 60 (years)          Published  2012
37  Life expectancy at age 60 (years)          Published  2012

         WHO Region World Bank income group            Country     Sex  \
11           Europe             High-income            Austria  Female
24  Western Pacific             High-income  Brunei Darussalam  Female
37           Europe             High-income             Cyprus  Female

    Display Value  Numeric  Low  High  Comments
11             83     83.0  NaN   NaN       NaN
24             21     21.0  NaN   NaN       NaN
37             26     26.0  NaN   NaN       NaN

In [22]:
users = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/users.csv')

In [23]:
sessions = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/sessions.csv')
products = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/products.csv')
transactions = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/transactions.csv')

In [24]:
users.head()

   UserID      User  Gender  Registered   Cancelled
0       1   Charles    male  2012-12-21         NaN
1       2     Pedro    male  2010-08-01  2010-08-08
2       3  Caroline  female  2012-10-23  2016-06-07
3       4   Brielle  female  2013-07-17         NaN
4       5  Benjamin    male  2010-11-25         NaN

In [25]:
sessions.head()

   SessionID SessionDate  UserID
0          1  2010-01-05       2
1          2  2010-08-01       2
2          3  2010-11-25       2
3          4  2011-09-21       5
4          5  2011-10-19       4

In [26]:
products.head()

   ProductID Product  Price
0          1       A  14.16
1          2       B  33.04
2          3       C  10.65
3          4       D  10.02
4          5       E  29.66

In [27]:
transactions.head()

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [36]:
result = pd.merge(transactions, users, on = 'UserID', how='left')

In [37]:
result.set_index('UserID', inplace= True)

In [38]:
print(result)

        TransactionID TransactionDate  ProductID  Quantity      User  Gender  \
UserID
 7.0                1      2010-08-21          2         1       NaN     NaN
 3.0                2      2011-05-26          4         1  Caroline  female
 3.0                3      2011-06-16          3         1  Caroline  female
 1.0                4      2012-08-26          2         3   Charles    male
 2.0                5      2013-06-06          4         1     Pedro    male
 2.0                6      2013-12-23          5         6     Pedro    male
 3.0                7      2013-12-30          4         1  Caroline  female
NaN                 8      2014-04-24          2         3       NaN     NaN
 7.0                9      2015-04-24          4         3       NaN     NaN
 3.0               10      2016-05-08          4         4  Caroline  female

        Registered   Cancelled
UserID
 7.0           NaN         NaN
 3.0    2012-10-23  2016-06-07
 3.0    2012-10-23  2016-06-07
 1.0    2012-12-21         NaN
 2.0    2010-08-01  2010-08-08
 2.0    2010-08-01  2010-08-08
 3.0    2012-10-23  2016-06-07
NaN            NaN         NaN
 7.0           NaN         NaN
 3.0    2012-10-23  2016-06-07

In [40]:
result1 = pd.merge(transactions, users, on = 'UserID', how='inner')
result1.set_index('UserID', inplace= True)
print(result1)

        TransactionID TransactionDate  ProductID  Quantity      User  Gender  \
UserID
3.0                 2      2011-05-26          4         1  Caroline  female
3.0                 3      2011-06-16          3         1  Caroline  female
3.0                 7      2013-12-30          4         1  Caroline  female
3.0                10      2016-05-08          4         4  Caroline  female
1.0                 4      2012-08-26          2         3   Charles    male
2.0                 5      2013-06-06          4         1     Pedro    male
2.0                 6      2013-12-23          5         6     Pedro    male

        Registered   Cancelled
UserID
3.0     2012-10-23  2016-06-07
3.0     2012-10-23  2016-06-07
3.0     2012-10-23  2016-06-07
3.0     2012-10-23  2016-06-07
1.0     2012-12-21         NaN
2.0     2010-08-01  2010-08-08
2.0     2010-08-01  2010-08-08

In [44]:
result2 = pd.merge(transactions, users, on = 'UserID', how='outer')
result2.set_index('UserID', inplace= True)
print(result2)

        TransactionID TransactionDate  ProductID  Quantity      User  Gender  \
UserID
 7.0              1.0      2010-08-21        2.0       1.0       NaN     NaN
 7.0              9.0      2015-04-24        4.0       3.0       NaN     NaN
 3.0              2.0      2011-05-26        4.0       1.0  Caroline  female
 3.0              3.0      2011-06-16        3.0       1.0  Caroline  female
 3.0              7.0      2013-12-30        4.0       1.0  Caroline  female
 3.0             10.0      2016-05-08        4.0       4.0  Caroline  female
 1.0              4.0      2012-08-26        2.0       3.0   Charles    male
 2.0              5.0      2013-06-06        4.0       1.0     Pedro    male
 2.0              6.0      2013-12-23        5.0       6.0     Pedro    male
NaN               8.0      2014-04-24        2.0       3.0       NaN     NaN
 4.0              NaN             NaN        NaN       NaN   Brielle  female
 5.0              NaN             NaN        NaN       NaN  Benjamin    male

        Registered   Cancelled
UserID
 7.0           NaN         NaN
 7.0           NaN         NaN
 3.0    2012-10-23  2016-06-07
 3.0    2012-10-23  2016-06-07
 3.0    2012-10-23  2016-06-07
 3.0    2012-10-23  2016-06-07
 1.0    2012-12-21         NaN
 2.0    2010-08-01  2010-08-08
 2.0    2010-08-01  2010-08-08
NaN            NaN         NaN
 4.0    2013-07-17         NaN
 5.0    2010-11-25         NaN